name: .NET Core

on:
  push:
    branches: [ master ]
    #paths: ['src/**']    
  pull_request:
    branches: [ master ]
    #paths: ['src/**']    

jobs:
  build:

    runs-on: ubuntu-latest
    #runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2      
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
        
    - name: Setup Project Variables
      run: |
        OUTPUT_PATH=Publish
        TEST_RESULTS_PATH=$OUTPUT_PATH/TestResults
        DOCS_PATH=$OUTPUT_PATH/docs
        RESULTS_PATH=$OUTPUT_PATH/Results     
        git fetch --prune
        dotnet tool restore
        buildVersion=`dotnet gitversion /output json /showvariable FullSemVer`
        dacVersion=`dotnet gitversion /output json /showvariable AssemblySemVer`
        echo Build Version= $buildVersion
        echo DAC Version= $dacVersion        
        echo "buildVersion=$buildVersion" >> $GITHUB_ENV   
        echo "dacVersion=$dacVersion" >> $GITHUB_ENV
        echo "BUILD_PROJECT=src/BinaryDataDecoders.slnproj" >> $GITHUB_ENV
        echo "REPORT_PROJECT=src/BinaryDataDecoders.rptproj" >> $GITHUB_ENV
        echo "BUILD_CONFIGURATION=Release" >> $GITHUB_ENV
        echo "OUTPUT_PATH=$OUTPUT_PATH" >> $GITHUB_ENV  
        echo "SANDBOX_PATH=$SANDBOX_PATH" >> $GITHUB_ENV 
        echo "TEST_RESULTS_PATH=$TEST_RESULTS_PATH" >> $GITHUB_ENV 
        echo "DOCS_PATH=$DOCS_PATH" >> $GITHUB_ENV 
        echo "RESULTS_PATH=$RESULTS_PATH" >> $GITHUB_ENV        

    #- name: Clean Project
    #  run: dotnet clean "$BUILD_PROJECT"
    #- name: Clean Reports
    #  run: dotnet clean "$REPORT_PROJECT"
            
    - name: Restore Project
      run: dotnet restore "$BUILD_PROJECT"
    - name: Build Project
      run: dotnet build "$BUILD_PROJECT" -c $BUILD_CONFIGURATION --no-restore -p:Version=$buildVersion -p:DbVersion=$dacVersion "/bl:logfile=$OUTPUT_PATH/dotnet_build.binlog"
    - name: Test Project
      run: dotnet test "$BUILD_PROJECT" -c $BUILD_CONFIGURATION --no-build --no-restore --nologo --collect:"XPlat Code Coverage" -r "$TEST_RESULTS_PATH" --filter "TestCategory=Unit|TestCategory=Simulate" -s "src/.runsettings" /p:CollectCoverage=true /p:CopyLocalLockFileAssemblies=true
    - name: Pack Project
      run: dotnet pack "$BUILD_PROJECT" -c $BUILD_CONFIGURATION --no-build --no-restore -o "$OUTPUT_PATH/Nuget" -p:PackageVersion=$buildVersion
    - name: Publish Project
      run: dotnet publish "$BUILD_PROJECT" -c $BUILD_CONFIGURATION  --no-build --no-restore -o "$RESULTS_PATH/Binary"
    - name: Publish Project to Nuget
      run: dotnet nuget push "$OUTPUT_PATH/Nuget/*.nupkg" -k ${{secrets.NUGET_API_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate
      
    #- name: List Files
    #  run: ls -R "$RESULTS_PATH/Binary"
      
    - name: Build Coverage Report
      run: dotnet reportgenerator "-reports:$TEST_RESULTS_PATH/**/coverage.cobertura.xml" "-targetDir:$RESULTS_PATH/Coverage" "-reportTypes:Xml" "-title:$BUILD_PROJECT - $buildVersion"
    - name: Build Reports
      run: dotnet build "$REPORT_PROJECT" -f netcoreapp3.1 -p:PublishedBinaries=$RESULTS_PATH/Binary -p:SolutionDir=src -v n

    - name: Publish Documents
      uses: actions/upload-artifact@v2
      with:
        name: BinaryDataDecoders_Documents
        path: Publish/docs/      

